<div class="container">
  <p class="find-duelist">Duel</p>
  <div class="duel-inputs">
    <app-text-input (usernameChange)="receiveUsernameOne($event)" placeholder="Enter First Username"></app-text-input>
    <app-text-input (usernameChange)="receiveUsernameTwo($event)" placeholder="Enter Second Username"></app-text-input>
  </div>
  <br />
  <button class="submit-button" (click)="onSubmit()">Duel</button>
  <div *ngIf="userOneError" class="error-message">{{ userOneError }}</div>
  <div *ngIf="userTwoError" class="error-message">{{ userTwoError }}</div>
  <div *ngIf="userOneData && userTwoData" class="duel-results">
    <div *ngIf="winnerInfo" class="winner">{{ winnerInfo.message }}</div>
    <div class="card-container">
      <app-card [userData]="userOneData"></app-card>
      <app-card [userData]="userTwoData"></app-card>
    </div>
  </div>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</div>